h1:first-of-type {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

p {
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  padding: 0 10%; /* espacio interno */
  background-color: #f5f5f5;
  margin: 0; /* asegurate de que no haya margen por defecto */
}

#mensaje {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}

#habitos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 20px; /* espacio entre cards */
  max-width: 800px;
  margin-top: 20px auto 0;
}

#habitos-container div {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
}

#habitos-container div:hover {
  transform: translateY(-5px);
}

#habitos-container h3 {
  margin-bottom: 10px;
  color: #333;
}

.habitoRegistrar {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.habitoRegistrar:hover {
  background-color: #45a049;
}

/* Lista de fechas */
#habitos-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #555;
}

#habitos-container li {
  padding: 3px 0;
}

#habitos-container div {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#habitos-container h3 {
  word-break: break-word;
}
